@import 'button.css';
@import 'input.css';

h1 {
  font-size: 44px;
  line-height: 1em;
  font-weight: 600;
  color: #272727;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #272727;
}