@import 'category.css';

.categories {
  margin-top: 35px;
}

.categories-list-item {
  position: relative;
  
  padding: 20px;
  height: 152px;
  
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.categories-list-item__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.categories-list-item__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@media (min-width: 320px) {
  .categories-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
  }
}
@media (min-width: 576px) {
  .categories-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .categories-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .categories-list {
    grid-template-columns: repeat(4, 1fr);
  }
}